body{
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0;
}

h1{
text-align: center;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;

}
#questions{
    font-size: 20px;
    text-align: start;
}
.main-body{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
box-shadow: 0 6px 20px rgba(29, 29, 29, 0.4);
margin: 0 auto;
padding: 10px;
border-radius: 5px;
}
p{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}


#submitBtn , #backBtn{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#submitBtn:hover,#backBtn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.answer-option:hover {
  background-color: #eee;
  cursor: pointer;
}